<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css" media="screen">
        div#nodejs-annotator-header {
            height:30px;
            background:#333;
            color:white;
            position:fixed !important;
            left:0 !important;
            top:0 !important;
            z-index:9001 !important;
            width:100%;
            padding:5px;
        }
        div#nodejs-annotator-footer {
            height:30px;
            background:#333;
            color:white;
            position:fixed !important;
            left:0 !important;
            bottom:0 !important;
            z-index:9001 !important;
            width:100%;
            padding:5px;
        }
        div#nodejs-annotator-paper {
            background:transparent;
            position:absolute;
            height:3000px;
            z-index: 9001 !important;
        }
        div#nodejs-annotator-body {
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select:none;
            /*overflow: scroll;*/
            /*height:300px;*/
        }

        div#nodejs-annotator-history-pane {
            position:fixed !important;
            right: 0;
            top:0;
            width:250px;
            height:100%;
            background:#333;
            color:white;
            padding-top:40px;
            z-index: 9002 !important;
            text-align:center;
        }

        ul#nodejs-annotator-history-pane-ul {
            text-align:left;
            list-style:none;
            margin:0;
            padding:5px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/raphael.js"></script>
    <script src="javascripts/nodejs-annotator.js"></script>

    <script type="text/javascript">
//        $(document).on('mouseup', function(e){
//
//            console.log("mouse x,y coord = " + e.pageX + ", " + e.pageY);
//
//            var text = "";
//            if (window.getSelection) {
//                text = window.getSelection().toString();
//            } else if (document.selection && document.selection.type != "Control") {
//                text = document.selection.createRange().text;
//            }
//
//            alert(text);
//        });
    </script>

</head>
<body>
<div id="nodejs-annotator-header">header</div>
<div class="wrapper">
    <div id="nodejs-annotator-paper"></div>
    <div id="nodejs-annotator-body">{{{body}}}</div>
    <div id="nodejs-annotator-history-pane">
        <h1>History</h1>
        <ul id="nodejs-annotator-history-pane-ul"></ul>
    </div>
</div>
<div id="nodejs-annotator-footer">footer</div>


</body>
</html>
