<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/fabric.min.js"></script>

    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/nodejs-annotator.js"></script>
</head>
<body>

<div id="container">
    <div id="nodejs-sidebar">
        <div id="nodejs-sidebar-tools">
            <ul>
                <li><span id="select" class="glyphicon glyphicon-hand-up"></span></li>
                <li><span id="rect" class="glyphicon glyphicon-stop"></span></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="nodejs-sidebar-history">
            <h1>History</h1>
            <ul id="nodejs-sidebar-history-ul">
                <!--<li>Item 1</li>-->
                <!--<li>Item 2</li>-->
                <!--<li>Item 3</li>-->
                <!--<li>Item 4</li>-->
                <!--<li>Item 5</li>-->
            </ul>
        </div>
    </div>
    <div id="nodejs-content">
        {{{body}}}
    </div>
    <canvas id="c" width="1280" height="1024" style="border:1px solid #aaa;">

    </canvas>


</div>


</body>
</html>
